<div class="row">
	<div class="col-lg-3">
		<br>
		<img class="img-fluid" src="<%= image_url('logo_without_bg.png') %>" alt="Responsive image">
	</div>
      
	<div class="col-lg-9">
		<div>
			<h1 class="my-4">Ваш заказ принят!</h1>
  			<p>В ближайшее время с вами свяжутся для уточнения информации по заказу.</p>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		window.localStorage.clear();
		setTimeout(function(){window.location.href = "/"}, 4000);
	});
</script>